/* CSS for ovarit-app features. */

input[type=checkbox], input[type=radio] {
    margin-right: .2em;
    margin-left: .2em;
}

div.sidebar.open {
    position: absolute;
    z-index: 2;
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.downvote-notifs p {
    line-height: 1.25;
    margin: 0;
}

/* Dark/Dank modes */

body.dank div:not(.pure-menu):not(.cw-brand):not(#menu):not(#app) {
    filter: grayscale(100%);
}

/* Utility classes */
.hover-db:hover > .hover-db { display: block; }
.hover-db:hover > .hover-bg-near-white { background-color: #f4f4f4; }
.hover-db:hover > .hover-bg-dark-gray { background-color: #333; }
.top-auto { top: auto; }
.top-015 { top: .15rem}
.top-05 { top: .5rem; }
.top-5 { top: 5rem; }
.right-05 { right: .5rem; }
.blur-backdrop { backdrop-filter: blur(20px); }
.dark-purple { color: #644c7b; }
.bg-dark-purple { background-color: #644c7b; }
.b--dark-purple { border-color: #644c7b; }
.fill-dark-purple svg path { fill: #644c7b; }
.hover-bg-dark-purple:hover { background-color: #644c7b; }
.hover-bg-dark-purple:focus { background-color: #644c7b;}
.hover-bg-washed-purple:hover { background-color: #e6e6fa;}
.hover-bg-washed-purple:focus { background-color: #e6e6fa; }
.fill-lavender svg path { fill: #b698dc; }
.b--lavender { border-color: #b698dc; }
.lavender { color: #b698dc; }
.fill-grim-purple svg path { fill: #3f2f4f; }
.b--grim-purple { border-color: #3f2f4f; }
.bg-grim-purple { background-color: #3f2f4f; }
.grim-purple { color: #3f2f4f; }
.bg-washed-purple { background-color: #e6e6fa; }
.hover-stroke-light-purple:hover svg { stroke: #9658cc; }
.hover-stroke-light-purple:focus svg { stroke: #9658cc; }
.hover-stroke-medium-blue:hover svg { stroke: #3a7fd9}
.hover-stroke-medium-blue:focus svg { stroke: #3a7fd9; }
.stroke-light-purple svg { stroke: #9658cc;}
.stroke-medium-blue svg { stroke: #3a7fd9;}
.stroke-silver svg { stroke: #999;}
.bg-pale-pink { background-color: #fae6e6; }
.bg-washed-pink { background-color: #fdd8d4; }
.bg-dark-reddish-brown { background-color: #382020; }
.bg-dark-bluish-green { background-color: #171d19}
.reddish-brown { color: #8a3b3b; }
.b--reddish-brown { border-color: #8a3b3b; }
.bg-reddish-brown { background-color: #8a3b3b; }
.hover-bg-reddish-brown:hover { background-color: #8a3b3b; }
.bg-brown { background-color: #8c4d32}
.bg-orangey-brown { background-color: #da7a4d; }
.b--orangey-brown { border-color: #da7a4d; }
.hover-medium-blue:hover { color: #3a7fd9; }
.hover-medium-blue:focus { color: #3a7fd9; }
.fill-medium-blue svg path { fill: #3a7fd9; }
.medium-red { color: #ec3a3a; }
.tx-03 { transition: background-color 0.3s, border-color 0.3s; }
.hover-bg-medium-purple:hover { background-color: #8b57b3; }
.hover-b--moon-gray:hover { border-color: #ccc; }
.data-name-ns::before { content: attr(data-name); }
.data-name-sm::before { content: attr(data-name); }
@media screen and (min-width: 30em) {
    .w6-ns { width: 32rem; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .data-name-ns::before { content: "" }
}
@media screen and (min-width: 60em) {
  .data-name-ns::before { content: "" }
  .data-name-sm::before { content: "" }
}
.mh-80vw { max-height: 80vw; }
.mw-90 { max-width: 90%; }
.scrollable { overflow-y: scroll; overflow-x: hidden; }
.shadow-6 { box-shadow: inset 0 1px 3px #ddd; }
body.dark .shadow-6 { box-shadow: inset 0 1px 3px #333;}
.shadow-7 { box-shadow: -3px 2px 4px 0 rgba(0, 0, 0, 0.1); }
.shadow-8 { box-shadow: -20px 20px 18px rgba(0, 0, 0, 0.4); }
.fill-gray svg path { fill: #777; }
.h16px { height: 16px; }
.w16px { width: 16px; }
.h24px { height: 24px; }
.w24px { width: 24px; }
.h1p5 { height: 1.5rem; }
.f1p1 { font-size: 1.1rem; }
.fill-light-teal svg path { fill: #00d7af; }
.noselect {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}
.pa05 { padding: .125rem; }
.ml05 { margin-left: .125rem; }
.nopointer { pointer-events: none; }

.alternating-near-white { background-color: #fefffe; }
.alternating-near-white:nth-child(2n) { background-color: #f7f7f7; }
.alternating-near-black { background-color: #020202; }
.alternating-near-black:nth-child(2n) { background-color: #0d0b0b; }

.active:focus { outline: 0;}
.active:active {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}
.left--05 { left: -0.75rem;}
.min-width-100 { min-width: 100%; }
.align-self-end { align-self: end; }
.resize-v { resize: vertical; }
.maxh7 { max-height: 16em; }
.noselect { user-select: none; }
.transparent { color: transparent; }
.aspect-16-9 { padding-top: 56.25%; } /* use with w-100 */
.break-word { word-wrap: break-word; }
.pv12px { padding-top: 12px; padding-bottom: 12px; }
.bw02 { border-width: .2rem; }
.w-36 { width: 36%; }
.lh-para { line-height: 1.4; }
.m-w-135 { min-width: 1.35rem; }
.focus-b--silver:focus { border-color: #999; }
.focus-b--dark-gray:focus { border-color: #333; }
.outline-dashed { outline: 1px dashed #444; }
.outline-green { outline-color: #369054; }
.oo-1 { outline-offset: -.5rem; }
.disappear { appearance: none; }

/* Put a focus outline on a label when the labelled object has focus. */
.focus-label:focus + label {
    outline: 3px solid #2c62a8;
    outline: -webkit-focus-ring-color auto 5px;
}
/* Hide the caret in a contenteditable label when it is focused.
   Used by the drag target label in Submit Post. */
label[contenteditable]:focus::selection {
    background-color: transparent;
}

.upload-preview {
    width: 100px;
    object-fit: contain;
    object-position: center;
}

/* use to overide link colors in main.css */
a.custom:not(.strike) { text-decoration: none; }

/* Make the remember me checkbox line up in the login form, overriding
some globally applied margins at the start of this file. */
.ml0#remember-me {
    margin-left: 0px;
}

/* TODO get rid of the globally applied margins */
.ml0#nsfw {
    margin-left: 0px;
}

/***** Grid layout classes *****/

/* Layout for the post header on the single post page */

.gr-single-post-header {
    display: grid;
    grid-template: 1fr / 30px 1fr;
    align-items: center;
    justify-items: start;
}

@media screen and (min-width: 30em) {
    .gr-single-post-header {
        grid-template: 1fr / 30px 70px 1fr;
    }
}

/* Layout for comments on the single-post page. */

.gr-comment {
    display: grid;
    grid-column-gap: 0.1rem;
    grid-template: 2rem
                   auto
                   auto
                   auto
                   / 1.4rem minmax(0, 1fr);
}

.gr-comment-collapse {
    grid-row: 2 / span 3;
    grid-column: 0;
}

.gr-full-width {
    grid-column: 1 / -1;
    justify-self: start;
}

.gr-justify-start {
    justify-self: start;
}

.gr-align-start {
    align-self: start;
}

/* Login and registration forms */
.gr-auth-form {
    display: grid;
    gap: 10px;
    align-items: center;
    align-content: center;
    text-align: left;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .gr-auth-form {
        grid-template-columns: auto 1fr;
        gap: 15px;
    }
}

/* Make the bottom of the logo unclickable, so that if you miss the
top form element slightly, you don't follow the logo link. */
.gr-auth-form::before {
    content: "";
    position: absolute;
    top: -15px;
    height: 15px;
    z-index: 1;
    width: 100%;
    background-color: transparent;
}

.gr-subbar {
    display: grid;
    grid-template: 1fr / 1fr 5em;
}

.gr-moremenu {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(20, auto);
}

.gr-items-start {
    align-items: start;
}
